@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;   
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ladoesquerdo {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    background-color: #191816;
    line-height: 2;
}

header{
    text-align: left;
    line-height: 1.5;
}
h1{
    color: #d4ccb6;
    font-family: 'Poppins' , sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h2{
    color: #afb6c2;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.foremail{
    color: #afb6c2;
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.forcheckbox{
    color: #afb6c2;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button{
    color: #473404;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
    font-weight: 600;

    background-color: #ffc632;
    border: none;

    width: 100%;
    padding: 15px;
}

h3{
    color: #ffc632;
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    font-weight: 400;
}

strong, a{
    color: #ffc632;
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.ladoedireito{
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.sideimage{
    width: 50vw;
    height: 100vh;
    object-fit: fill;
}

.cardbox{
width: 60%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

padding: 30px 40px;
background-color: #24221f;
}

.textplace{
    margin-top: 15px;
    align-items: left;
    flex-direction: row;

    

}

.passicon , .emailicon{
    border: solid 2px #868686;
    border-radius: 10px;

}

input{
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #24221f;

    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: white;    
}


