@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #191816;
}

.ladoesquerdo .login{
    background-color: #24221f;
    border-radius: 10px;
}



